<div class="container">
  <div class="row m-4">
    <!-- Columna de búsqueda en dispositivos móviles -->
    <div class="col-12 col-md-8">
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 mt-2">
      <app-pokemon-list></app-pokemon-list>
    </div>
    <!-- Columna de detalles en dispositivos móviles con margen inferior más pequeño -->
    <div class="col-12 col-md-4 mt-4 mt-md-0 mb-2 mb-md-0">
      <app-pokemon-details></app-pokemon-details>
      <app-details></app-details>
    </div>
    <!-- Columna principal en dispositivos móviles con margen superior más grande -->
  </div>
</div>
